@media screen and (max-width: 640px) {
  /* Navbar  */
  .navbar {
    flex-direction: column;
    margin-left: 75px;
  }

  .logo img {
    width: 20%;
  }

  .logo h1 {
    font-size: 20px;
  }

  .nav-btn button {
    display: flex;
    margin-top: 5px;
    margin-right: 60px;
  }

  /* Banner  */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-text,
  .banner-image {
    width: 95%;
    margin: 0 auto;
  }
}
