@media screen and (max-width: 640px) {
  /* Navbar  */
  .navbar {
    flex-direction: column;
    margin-left: 75px;
  }

  .logo img {
    width: 20%;
  }

  .logo h1 {
    font-size: 20px;
  }

  .nav-btn button {
    display: flex;
    margin-top: 5px;
    margin-right: 60px;
  }

  /* Banner  */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-text,
  .banner-image {
    width: 95%;
    margin: 0 auto;
  }

  /* Game Card  */
  .game-card-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Play Instant  */
  .instant-container {
    flex-direction: column-reverse;
  }
  .instant-text {
    width: 90%;
    margin: 50px auto;
  }
  .instant-img {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }
  .big-img {
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
  }

  .small-img {
    object-fit: cover;
    width: 40%;
    position: absolute;
  }

  /* Category  */
  .category-container h1 {
    font-size: 25px;
    margin: 0 auto;
  }
  .category {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
    margin-bottom: 50px;
  }
  .game {
    width: 400px;
    height: 90px;
    margin: 0 auto;
  }
}
